/**
 * Meta Pixie CSS.
 */

/**
 * Columns.
 */
.column-meta_id,
.column-related_id,
.column-type {
	width: 10%;
}

.column-meta_key {
	width: 20%;
}

.column-meta_value div.row-actions {
	clear: both;
}

.meta-pixie-extra-tablenav:nth-of-type(2),
.meta-pixie-extra-tablenav:nth-of-type(3) {
	margin-left: -8px;
}

span.error {
	color: red;
	font-weight: bold;
}

/**
 * Help.
 */
.help-tab-content dt {
	font-weight: bold;
}

.list-view::before {
	content: '\f163';
}

.excerpt-view::before {
	content: '\f164';
}

/**
 * Rich View.
 */
.meta-pixie-rich-view {
	margin: 0;
	clear: both;
}

.meta-pixie-rich-view .array {
	margin: 0;
}

.meta-pixie-rich-view .array .key {
	float: left;
	clear: left;
	width: 2em;
	margin: 0.2em 0;
	padding: 0.1em;
	background-color: #ddd;
	text-align: right;
}

.meta-pixie-rich-view .array.associative > .key {
	width: 10em;
}

.meta-pixie-rich-view .array .key:after {
	content: ":";
}

.meta-pixie-rich-view .array .value {
	float: left;
	margin: 0.2em;
	padding: 0.1em;
	word-wrap: break-word;
	word-break: break-all;
}

.meta-pixie-rich-view .array.associative > .value {
}

.meta-pixie-rich-view .array .value > span.count {
	color: #999;
}

.meta-pixie-rich-view .array .value > span.count:hover {
	cursor: pointer;
}

.meta-pixie-rich-view .array .value > span.count .dashicons {
	color: #555;
}
